/*header {*/
/*    font-family: monospace;*/
/*    color: #aea4e0;*/
/*    font-size: 15px;*/
/*    text-align: right;*/
/*}*/
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    background-color: black;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("#{resource['images/TV.png']}") center/cover no-repeat;
    z-index: 1;
}

.background::after {
    content: '';
    position: absolute;
    top: 23%;
    left: 7%;
    width: 48%;
    height: 66%;
    background: url("#{resource['images/Noise.gif']}");
    z-index: 2;
}


.table {
    width: 40%;
    margin: 0 auto;
    border-collapse: collapse;
    position: absolute;
    bottom: 14%;
    left: 10%;
    z-index: 4;
    color: rgb(153, 106, 187);
    font-size: 100%;
    font-weight: bold;
}

.checkButton{
    background-color: transparent;
    border: none;
    color: transparent;
    position:absolute;
    left: 60%;
    top: 83%;
    z-index: 2;
}

.y{
    background-color: #050303;
}
.r{
    background-color: #0b0808;
}

.xxx, .yyy, .rrr{
    background-color: #0b0808;
}
input[type="text"] {
    background-color: #f1f1f1; /* Белый фон */
    color: #6154a4d0; /* Сиреневый текст */
}

input[type="text"]::placeholder {
    color: #6154a4d0; /* Светло-сиреневый цвет текста в placeholder */
}

td {
    text-align: center;
    text-decoration-color: #6154a4d0;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid #6154a4d0;
    font-weight: bold;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #532293;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5145a0;
}

#xInput, #yInput, #rInput {
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
}

header h1::first-letter {
    font-size: 200%;
    color: #927797;
}

.sendButton {
    padding: 10px;
    margin: 2px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
}

.clearButton {
    background-color: transparent;
    border: none;
    color: transparent;
    position:absolute;
    left: 60%;
    top: 66%;
    z-index: 2;
}

#gr{
    max-height: 300px;
}

/*.sendButton:hover {*/
/*    background-color: #ddd;*/
/*}*/

/*.sendButton.active {*/
/*    background-color: #9e80c8;*/
/*    color: white;*/
/*}*/
.result{
    border: 1px solid #6154a4d0;
    width: 28%;
    border-collapse: collapse;
    top: 150px;
    left: 1070px;
    position: absolute;
    z-index: 4;
    color: rgb(153, 106, 187);
}
.result tbody {
    display: block;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}
.result thead, .result tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 8px;
    text-align: center;
    word-wrap: break-word;

}
#graphCanvas{
    background-color: #f1f1f1;
}

